name: Client CI

on:
  push:
    branches:
      - 'main'
    paths:
      - 'frontend'
  pull_request:

env:
  NODE_VERSION: '18'

jobs:
  packages:
    name: Client Packages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: ./frontend/package-lock.json
      - run: npm ci
        working-directory: ./frontend
  build:
    name: Client Build
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: ./frontend/package-lock.json
      - run: npm ci
        working-directory: ./frontend
      - run: npm run build
        env:
          NODE_ENV: production
        working-directory: ./frontend
  lint:
    name: Client Lint
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: ./frontend/package-lock.json
      - run: npm ci
        working-directory: ./frontend
      - run: npm run lint -- --max-warnings=0
        working-directory: ./frontend
  typeCheck:
    name: Client Type Check
    runs-on: ubuntu-latest
    needs: [packages]
    steps:
      - uses: actions/checkout@v3.5.0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: ./frontend/package-lock.json
      - run: npm ci
        working-directory: ./frontend
      - run: npm run type-check
        working-directory: ./frontend
